#app4 .circle{
    width: 30vw;
    height: 30vw;
    border-radius: 100px;
    margin-top: 10vh;
    margin-left: 10vw;
    background: darkgrey;
    text-align:center;
    padding: 65px 0;
    color: ghostwhite;
}

#app4 .circle.active{
    animation: change 1s infinite
    alternate linear;
}
@keyframes change{
    0%{
        background: red;
    }
    100%{
        background: blue;
    }
}